{% extends 'base.html' %}
{% block head_title %}Profile{% endblock %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<div class="container mx-auto row justify-content-center">
  
  <div class="container mx-auto text-center">
    <p style="margin: 50px 0px 20px 0px;" class="text-center fw-bold p-3 rounded fs-5"><span class="alert alert-danger">Manage Orders</span>
    </p>
    {% if orders %}
    <table style="margin-bottom: 200px; font-size: 14px;" class="table table-striped border border-3 shadow">
      <thead>
        <tr>
          <th scope="col">Order Id</th>
          <th scope="col">Customer</th>
          <th scope="col">Ordered Items</th>
          <th scope="col">Total Cost</th>
          <th scope="col">Payment Method</th>
          <th scope="col">Order Status</th>
        </tr>
      </thead>
      <tbody>
        {% for order in orders %}
        <tr>
          <td>
            {{ order.orderId }}
          </td>
          <td>
            {{ order.user.first_name }} {{ order.user.last_name }}
          </td>
          <td>
            <ul>
              {% for item in order.order_items.all %}
                  <li>{{ item.item.name }} x {{ item.quantity }}(kg)</li>
              {% endfor %}
          </ul>
          </td>
          
          <td>{{ order.get_totals }}৳</td>
          <td>{{ order.payment_method }}</td>
          <td>{{ order.order_status }} <br> 
            {% if order.cancelled == False and order.order_status != 'Delivered' %}
            <a href="{% url 'update-order-status' order.id %}" class="btn btn-success manage_order_btn"> Update Status </a>
            {% else %}
            <a href="{% url 'remove-order' order.id %}" class="btn btn-danger manage_order_btn"> Remove </a>
            {% endif %}
        </td>
          
        </tr>
        {% endfor %}
        {% else %}
        <h4 class="text-center text-secondary" style="margin-top: 100px;">You don't have any orders!</h4>
        {% endif %}
      </tbody>
    </table>
  </div>

{% endblock %}