{% extends 'base.html' %}

{% block head_title %}Home - Fruit sell{% endblock %}

{% block body %}
{% load static %}
<div class="container mx-auto ">
    <h3 class="text-center my-4">Available Fruits</h3>
    <div class="row justify-content-around">
        {% for favaurite_fruit in favorite_fruits %}

        <div class="card mb-3 shadow" style="width: 370px; height: fit-content;">
            <div class="row">
                <div class="col-4 d-flex justify-content-center align-items-center">
                    {% if favaurite_fruit.fruit.image %}
                    <img class="card-img" src="{{favaurite_fruit.fruit.image.url}}" class="img-fluid rounded-start" alt="...">
                    {% else %}
                    <img class="card-img" src="{% static './images/No-Image-Placeholder.svg' %}" class="img-fluid rounded-start" alt="...">
                    {% endif %}
                </div>
                <div  class="col-8 p-2 ps-0">
                    <div style="background-color: #dce1e6;" class="rounded">
                        <div class="p-2">
                            <div class="d-flex justify-content-between">
                                <h6 class="card-title">{{favaurite_fruit.fruit.name}}</h6>
                                {% if fruit.discount > 0 %}
                                <small class="text-danger fw-bold"> -{{ fruit.discount }}% </small>
                                {% endif %}
                            </div>
                            <small class="card-text ">{{favaurite_fruit.fruit.description | truncatewords:6}} <a class="text-decoration-none"
                                    href="{% url 'details' id=favaurite_fruit.id %}">view</a></small><br>
                            {% if favaurite_fruit.fruit.discount > 0 %}
                            <small class="fw-bold"><s>{{favaurite_fruit.fruit.price}}৳</s> <span  class="text-danger">{{favaurite_fruit.fruit.get_discounted_price}}৳/kg</span> </small><br>
                                {% else %}
                            <small class="fw-bold">{{favaurite_fruit.fruit.price}}৳/kg</small><br>
                            {% endif %}
                            {% if request.user.is_authenticated %}
                            <div class="mt-2">
                                <a class="card-btn btn btn-dark" href="{% url 'remove_favourite' favaurite_fruit.id %}">Remove from favourite</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
        
    </div>
</div>
{% endblock %}